html,
body,
#body,
juicy-tile-table {
    padding: 0px;
    margin: 0px;
    width: 1000px;
    border: none;
}

juicy-tile-table table,
juicy-tile-table table tr,
juicy-tile-table table tr td {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border: none;
}

div.tile {
    height: 500px;
}